
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    box-sizing: border-box;
    height: 100%;
    line-height: 1;
    position: static;
    text-rendering: optimizelegibility !important;
    width: 100%;
}
*, *::after, *::before {
    box-sizing: inherit;
}
@media (max-width: 959px) {
}
embed, img, object {
    height: auto;
    max-width: 100%;
}
blockquote, q {
    quotes: none;
}
blockquote::after, blockquote::before, q::after, q::before {
    content: none;
}
a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    font-weight: 700;
    vertical-align: bottom;
}
td {
    font-weight: 400;
    vertical-align: top;
}
input, select {
    vertical-align: middle;
}
pre {
    white-space: pre-line;
    word-wrap: break-word;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
code, kbd, pre, samp {
    font-family: monospace,sans-serif;
}
.agency-stats, .cf, .clear, .clearfix, .layout-double .col-wrap, .layout-project-results .project-results, .layout-testimonials .single-testimonial, .our-capabilities .our-capabilities-list, .work-list {
}
.agency-stats::after, .agency-stats::before, .cf::after, .cf::before, .clear::after, .clear::before, .clearfix::after, .clearfix::before, .layout-double .col-wrap::after, .layout-double .col-wrap::before, .layout-project-results .project-results::after, .layout-project-results .project-results::before, .layout-testimonials .single-testimonial::after, .layout-testimonials .single-testimonial::before, .our-capabilities .our-capabilities-list::after, .our-capabilities .our-capabilities-list::before, .work-list::after, .work-list::before {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
.agency-stats::after, .cf::after, .clear::after, .clearfix::after, .layout-double .col-wrap::after, .layout-project-results .project-results::after, .layout-testimonials .single-testimonial::after, .our-capabilities .our-capabilities-list::after, .work-list::after {
    clear: both;
}
@media (min-width: 30em) {
head {
    font-family: mq-min-mini;
}
body::after {
    content: "mq-min-mini";
    display: none;
}
}
@media (min-width: 37.5em) {
head {
    font-family: mq-min-small;
}
body::after {
    content: "mq-min-small";
    display: none;
}
}
@media (min-width: 48em) {
head {
    font-family: mq-min-medium;
}
body::after {
    content: "mq-min-medium";
    display: none;
}
}
@media (min-width: 60em) {
head {
    font-family: mq-min-large;
}
body::after {
    content: "mq-min-large";
    display: none;
}
}
@media (min-width: 76.25em) {
head {
    font-family: mq-min-xlarge;
}
body::after {
    content: "mq-min-xlarge";
    display: none;
}
}
@media (min-width: 90em) {
head {
    font-family: mq-min-xxlarge;
}
body::after {
    content: "mq-min-xxlarge";
    display: none;
}
}
@media (max-width: 29.9375em) {
head {
    font-family: mq-mini;
}
body::after {
    content: "mq-mini";
    display: none;
}
}
@media (orientation: portrait) {
head {
    font-family: mq-portrait;
}
body::after {
    content: "mq-portrait";
    display: none;
}
}
@media (orientation: landscape) {
head {
    font-family: mq-landscape;
}
body::after {
    content: "mq-landscape";
    display: none;
}
}
@font-face {
    font-family: "icon-font";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/fontello/icon-font.eot#iefix") format("embedded-opentype"), url("assets/fonts/fontello/icon-font.woff") format("woff"), url("assets/fonts/fontello/icon-font.ttf") format("truetype"), url("assets/fonts/fontello/icon-font.svg#icon-font") format("svg");
}
.owl-controls .owl-next::before, .owl-controls .owl-prev::before, .selecter .selecter-selected::after, .selecter.open .selecter-selected::after, [class*=" icon-"]::before, [class^="icon-"]::before {
    font-family: icon-font !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}
.icon-arrow-up::before {
    content: "";
}
.icon-arrow-down::before {
    content: "";
}
.icon-arrow-right::before {
    content: "";
}
.icon-arrow-left::before {
    content: "";
}
.icon-tri-down::before {
    content: "";
}
.icon-tri-up::before {
    content: "";
}
.icon-tri-right::before {
    content: "";
}
.icon-tri-left::before {
    content: "";
}
.owl-controls .owl-next span, .owl-controls .owl-prev span, .visually-hidden {
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.agency-stats .media, .layout-project-next figure .photo-overlay, .layout-project-results .photo-overlay, .nav-menu li i, .sec--grid figure .photo-overlay, .sec--intro .hero-single, .sec--intro .slide-single {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.agency-stats, .layout-project-results .project-results, .nav-menu, .our-capabilities .our-capabilities-list, .our-capabilities article ul, .work-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.button, .nav-trigger, input[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    font-size: 1em;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
.sec--intro .hero-single .hero-meta, .sec--intro #slide-0.slide-single .slide-meta {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
}
.sec--intro .hero-single .hero-meta h2 + .action, .sec--intro #slide-0.slide-single .slide-meta h2 + .action {
    margin-top: 10%;
}
.sec--intro .hero-single .hero-meta .action, .sec--intro #slide-0.slide-single .slide-meta .action {
    color: #232022;
}
.sec--intro .hero-single .hero-meta .action::after, .sec--intro #slide-0.slide-single .slide-meta .action::after {
    background-color: #232022;
}
.button, input[type="submit"] {
    background: #fc344d none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    height: 41px;
    line-height: 1em;
    overflow: hidden;
    padding: 17px 20px 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
}
.button::after, input[type="submit"]::after {
    background: #ac293a none repeat scroll 0 0;
    content: "";
    height: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.button:hover, input[type="submit"]:hover {
    color: #fff;
}
.button:hover::after, input[type="submit"]:hover::after {
    height: 350%;
    opacity: 1;
}
@media print {
*, *::after, *::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #000 !important;
    filter: none !important;
    text-shadow: none !important;
}
}
html {
    font-size: 10px;
}
@media (min-width: 48em) {
html {
    font-size: 12px;
}
}
@media (min-width: 60em) {
html {
    font-size: 14px;
}
}
@media (min-width: 76.25em) {
html {
    font-size: 16px;
}
}
body {
    -moz-osx-font-smoothing: grayscale;
    background: #fff none repeat scroll 0 0;
    color: #000;
    font-family: minion-pro,serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body.is-nav-active {
    overflow: hidden !important;
}
a {
    color: #fc344d;
    text-decoration: none;
}
a:hover {
    color: #125899;
}
h1, h2, h3, h4, h5, h6 {
    color: #525252;
    font-family: minion-pro,serif;
    font-weight: 400;
    line-height: 1em;
    position: relative;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #000;
}
h1.intro-heading, h2.intro-heading, h3.intro-heading, h4.intro-heading, h5.intro-heading, h6.intro-heading {
    line-height: 3.875rem;
    padding: 0 20px 3.125rem;
    text-align: center;
}
h1.intro-heading {
    color: #232022;
    font-size: 2.6875rem;
    line-height: 3.25rem;
    padding-bottom: 0;
    padding-top: 3.125rem;
}
@media (min-width: 60em) {
h1.intro-heading {
    font-size: 3.875rem;
    line-height: 4.5rem;
}
}
h2 {
    font-size: 2.625rem;
}
address, dl, p {
    color: #232022;
    font-size: 1em;
    line-height: 1.25em;
}
dl, p {
    margin-bottom: 1.25em;
}
em, i {
    font-style: italic;
}
b, strong {
    font-weight: 700;
}
dd, ol, ul {
    line-height: 1.5em;
}
ol, ul {
    margin-bottom: 1.25em;
}
li {
    font-size: inherit;
    line-height: 1.5em;
}
input, select, textarea {
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid #d3d3d3;
    border-radius: 0;
    font-family: proxima-nova,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3em;
    margin: 0;
    outline: 0 none;
    padding: 15px 15px 13px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    transition: all 200ms linear 0s;
    width: 100%;
}
input[type="button"], input[type="email"], input[type="file"], input[type="password"], input[type="submit"], input[type="text"], input[type="time"], input[type="url"], textarea {
    -moz-appearance: none;
}
input, label, textarea {
    color: #000;
}
input.wpcf7-not-valid, label.wpcf7-not-valid, textarea.wpcf7-not-valid {
    border-color: #fc344d;
}
select {
    background: #fff none repeat scroll 0 0;
    height: 30px;
    padding: 5px 10px;
}
select[multiple] {
    height: auto;
}
input[type="checkbox"] {
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
label {
    font-weight: 400;
}
input:focus, textarea:focus {
    border-color: #fc344d;
    color: #fc344d;
    outline: 0 none;
}
input[type="submit"] {
    background: #f7506b none repeat scroll 0 0;
    border-radius: 0;
    color: #fff !important;
    font-size: 18px;
    font-weight: 700;
    height: auto;
    text-transform: none;
    width: 100%;
}
@media (min-width: 30em) {
input[type="submit"] {
    max-width: 315px;
}
}
input[type="submit"]:hover {
    background: #fc344d none repeat scroll 0 0;
    color: #fff !important;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.placeholder {
    color: #505050;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #505050;
    transition: color 200ms linear 0s;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: rgba(119, 119, 119, 0.6);
}
.wpcf7-form label {
    display: block;
    margin-bottom: 2.5rem;
}
.wpcf7-form label .label {
    display: none;
}
@media (min-width: 37.5em) {
.wpcf7-form .half {
    float: left;
    width: 50%;
}
.wpcf7-form .half:nth-child(2n+1) {
    padding-right: 10px;
}
.wpcf7-form .half:nth-child(2n) {
    padding-left: 10px;
}
}
@media (min-width: 37.5em) {
.wpcf7-form .third {
    float: left;
    padding: 0 10px;
    width: 33.3333%;
}
}
.wpcf7-form .third:nth-child(3n+4) {
    clear: both;
}
.wpcf7-form .range > p {
    font-family: proxima-nova,sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.wpcf7-form .hidden {
    display: none;
}
.wpcf7-form .selecter {
    width: 100%;
}
.wpcf7-form .submit {
    border-top: 1px solid #d3d3d3;
    clear: both;
    padding: 2.5rem 0;
    text-align: center;
}
.wpcf7-form .wpcf7-not-valid-tip {
    color: #fc344d;
    display: block;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 5px 0;
}
.wpcf7-form #pr-value {
    border: medium none;
    color: #125899;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    outline: 0 none;
    text-align: center;
}
.wpcf7-form #pr-value::-moz-placeholder {
    color: #125899;
}
.wpcf7-form #pr-value:focus::-moz-placeholder {
    color: #125899;
}
.project-range-wrap {
    margin: 10px 0 0;
    padding: 10px 0;
    position: relative;
}
.project-range-wrap .mark-container {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 48px);
}
.project-range-wrap .mark-container::after, .project-range-wrap .mark-container::before {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
.project-range-wrap .mark-container::after {
    background: #e7e7e7 none repeat scroll 0 0;
    clear: both;
    content: "";
    display: block;
    height: 100%;
    margin-left: -1px;
    position: absolute;
    right: 0;
    width: 1px;
}
@media (min-width: 60em) {
.project-range-wrap .mark-container {
    width: calc(100% - 88px);
}
}
.project-range-wrap [class*="marker-"] {
    display: inline-block;
    float: left;
    height: 46px;
    position: relative;
    width: calc(100% / 11);
}
.project-range-wrap [class*="marker-"]::before {
    background: #e7e7e7 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin-left: -1px;
    position: absolute;
    width: 1px;
}
.project-range-wrap .range-value {
    color: #9c9c9c;
    display: none;
    font-family: proxima-nova,sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 13px;
}
@media (min-width: 76.25em) {
.project-range-wrap .range-value {
    display: block;
}
}
.project-range-wrap .range-value.low {
    left: -45px;
    opacity: 0.2;
}
.project-range-wrap .range-value.high {
    right: -70px;
}
.wpcf7-response-output {
    color: #232022;
    font-family: proxima-nova,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    padding: 20px;
    text-align: center;
}
.wpcf7-response-output.wpcf7-validation-errors {
    background: #fc344d none repeat scroll 0 0;
    color: #fff;
}
.screen-reader-response {
    display: none;
}
button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.alignnone {
    margin: 0;
}
.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 0;
}
.alignleft, .alignright {
    float: none;
}
@media (min-width: 30em) {
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
}
@media (min-width: 30em) {
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
}
.aligncenter {
    display: block;
    margin: 5px auto 0;
}
@media (min-width: 30em) {
a img.alignleft, a img.alignright {
    float: left;
    width: auto;
}
}
@media (min-width: 30em) {
a img.alignleft {
    margin: 5px 20px 20px 0;
}
}
@media (min-width: 30em) {
a img.alignright {
    margin: 5px 0 20px 20px;
}
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
@media (min-width: 30em) {
a img.alignnone {
    width: auto;
}
}
.wp-caption {
    margin-bottom: 20px;
    max-width: 100%;
    padding: 0 0 10px;
    text-align: left;
    width: 100% !important;
}
.wp-caption a, .wp-caption a:hover {
    border-bottom: 0 none !important;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0 0 5px;
    max-width: 100%;
    padding: 0;
    width: 100%;
}
@media (min-width: 30em) {
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
}
@media (min-width: 30em) {
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
}
@media (min-width: 30em) {
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
}
@media (min-width: 30em) {
.wp-caption.alignleft, .wp-caption.alignright {
    width: 250px !important;
}
}
@media (min-width: 48em) {
.wp-caption.alignleft, .wp-caption.alignright {
    max-width: 340px;
    width: 100%;
}
}
.wp-caption .wp-caption-text {
    border-bottom: 1px solid rgba(192, 192, 193, 0.2);
    color: #777;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    padding: 0 0 10px;
}
.aligncenter.wp-caption {
    width: 100% !important;
}
.header-global {
    height: 50px;
    left: 0;
    padding: 0 0.625em;
    position: fixed;
    top: 0;
    transition: transform 0.4s cubic-bezier(0.63, 0.64, 0.3, 1) 0s, background 0.4s cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 100%;
    z-index: 20;
}
@media (min-width: 37.5em) {
.header-global {
    height: 95px;
}
}
@media (min-width: 60em) {
.header-global {
    padding: 0 4.375em;
}
}
.header-global.is-up {
    transform: translateY(-100%);
}
.is-nav-active .header-global.is-up {
    transform: none;
}
.header-global.is-down, .is-shifted .header-global {
    background: #fff none repeat scroll 0 0;
}
#skeleton-logo {
    float: left;
    height: auto;
    position: relative;
    transform: translateY(19px);
    width: 115px;
    z-index: 20;
}
@media (min-width: 37.5em) {
#skeleton-logo {
    transform: translateY(30px);
    width: 175px;
}
}
#skeleton-logo path {
    fill: #fff;
    transition: fill 200ms ease-in 0s;
}
.grey #skeleton-logo path, .is-down #skeleton-logo path, .is-shifted #skeleton-logo path, .single-project #skeleton-logo path {
    fill: #232022;
}
#skeleton-logo:hover path {
    fill: #fc344d;
}
.nav-trigger-container {
    float: right;
    height: inherit;
    line-height: 50px;
    position: relative;
    text-align: right;
    transition: background 200ms ease 0s;
    z-index: 20;
}
@media (min-width: 37.5em) {
.nav-trigger-container {
    line-height: 95px;
    text-align: center;
    transform: translateX(70px);
    width: 300px;
}
}
.nav-trigger {
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-family: proxima-nova,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    padding-right: 30px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-transform: uppercase;
    transition: color 0.3s cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    z-index: 2;
}
@media (min-width: 37.5em) {
.nav-trigger {
    font-size: 18px;
}
}
.grey .nav-trigger, .is-down .nav-trigger, .is-shifted .nav-trigger, .single-project .nav-trigger {
    color: #232022;
}
.grey .nav-trigger i, .grey .nav-trigger i::after, .grey .nav-trigger i::before, .is-down .nav-trigger i, .is-down .nav-trigger i::after, .is-down .nav-trigger i::before, .is-shifted .nav-trigger i, .is-shifted .nav-trigger i::after, .is-shifted .nav-trigger i::before, .single-project .nav-trigger i, .single-project .nav-trigger i::after, .single-project .nav-trigger i::before {
    background-color: #232022;
}
.is-nav-active .nav-trigger {
    color: #fff;
}
.is-nav-active .nav-trigger i, .is-nav-active .nav-trigger i::after, .is-nav-active .nav-trigger i::before {
    background-color: #fff;
}
.nav-trigger:hover i::before {
    transform: translateY(-210%);
}
.nav-trigger:hover i::after {
    transform: translateY(210%);
}
.nav-trigger i {
    -moz-user-select: none;
    background-color: #fff;
    display: block;
    height: 3px;
    margin-top: -1px;
    position: absolute;
    right: 0;
    top: 49%;
    transition: background-color 0.3s cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 20px;
}
@media (min-width: 37.5em) {
.nav-trigger i {
    top: 50%;
}
}
.nav-trigger i::after, .nav-trigger i::before {
    background-color: #fff;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition: transform 0.3s ease 0s, background-color 0.3s cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 100%;
}
.nav-trigger i::before {
    transform: translateY(-170%);
}
.nav-trigger i::after {
    transform: translateY(170%);
}
.is-nav-active .nav-trigger i {
    background-color: transparent;
}
.is-nav-active .nav-trigger i::before {
    transform: translateY(0px) rotate(45deg);
}
.is-nav-active .nav-trigger i::after {
    transform: translateY(0px) rotate(-45deg);
}
.nav-global {
    background: rgba(26, 26, 26, 0.95) none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 100%;
    z-index: 15;
}
@media (min-width: 37.5em) {
.nav-global {
    padding-top: 95px;
    width: 300px;
}
}
.is-nav-active .nav-global {
    transform: translateX(0px);
}
.nav-menu {
    height: 100%;
}
.flexbox .nav-menu {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-menu li {
    border-top: 1px solid #393939;
    position: relative;
    text-align: center;
    transition: border-top 0.3s cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 100%;
}
@media (min-width: 37.5em) {
.nav-menu li {
    text-align: left;
}
}
.nav-menu li.m-our {
    height: calc(100% / 5);
}
.nav-menu li.m-our a {
    display: block;
    height: 100%;
    left: 0;
    padding: 0 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.nav-menu li.m-your {
    background: #fff none repeat scroll 0 0;
    height: calc(100% / 4);
    min-height: 150px;
    padding: 0 30px;
}
@media (min-width: 48em) {
.nav-menu li.m-your {
    min-height: 190px;
}
}
.nav-menu li.m-your .label {
    color: #4a3239;
}
.nav-menu li.m-your .desc {
    color: #232022;
    display: block !important;
}
.nav-menu li.m-your .button {
    width: 100%;
}
.nav-menu li.m-your .desc + .button, .nav-menu li.m-your .label + .button {
    margin-top: 35px;
}
.is-low .nav-menu li.m-your .desc + .button, .is-low .nav-menu li.m-your .label + .button {
    margin-top: 15px;
}
.nav-menu li .vcen {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.nav-menu li .label {
    color: #fff;
    display: block;
    font-family: proxima-nova,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
@media (min-width: 60em) {
.nav-menu li .label {
    font-size: 1.125rem;
}
}
.nav-menu li .desc {
    color: #959394;
    display: none;
    font-family: minion-pro,serif;
    font-size: 0.8125em;
    font-weight: 500;
    line-height: 1.375em;
    text-transform: none;
}
@media (min-width: 48em) {
.nav-menu li .desc {
    display: block;
    font-size: 1rem;
}
}
.is-low .nav-menu li .desc {
    display: none;
}
.nav-menu li i {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 100%;
    z-index: 1;
}
.nav-menu li:hover {
    border-top-color: transparent;
}
.nav-menu li:hover i {
    opacity: 1;
}
.nav-menu li.work i {
    background-image: url("assets/images/navigation/is-hover-work.jpg");
}
.nav-menu li.agency i {
    background-image: url("assets/images/navigation/is-hover-agency.jpg");
}
.nav-menu li.clients i {
    background-image: url("assets/images/navigation/is-hover-clients.jpg");
}
.nav-menu li.closet i {
    background-image: url("assets/images/navigation/is-hover-closet.jpg");
}
.sec--your-project {
    border-top: 15px solid #d3d3d3;
    padding: 5.625rem 20px;
}
.page-id-26 .sec--your-project {
    display: none;
}
.sec--your-project .row {
    margin: 0 auto;
    max-width: 61.25em;
    width: 100%;
}
.sec--your-project h3 {
    color: #525252;
    font-size: 2.625rem;
    line-height: 3.875rem;
    margin-bottom: 0.9375rem;
    text-align: center;
}
.sec--your-project h3 + p {
    color: #525252;
    font-family: proxima-nova,sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 2.8125rem;
    text-align: center;
}
.sec--your-project .submit {
    border-top: 0 none;
}
@media (min-width: 48em) {
.sec--your-project .submit {
    padding: 0 10px;
    width: 33.3333%;
}
}
.sec--your-project .sent .submit input {
    background: #499d5d none repeat scroll 0 0;
}
.sec--your-project input::-moz-placeholder, .sec--your-project textarea::-moz-placeholder {
    color: #949494;
    transition: color 200ms linear 0s;
}
.sec--your-project input:focus::-moz-placeholder, .sec--your-project textarea:focus::-moz-placeholder {
    color: rgba(136, 136, 136, 0.6);
}
.sec--your-project .wpcf7-response-output {
    margin-top: 20px;
}
@media (min-width: 48em) {
.sec--your-project .wpcf7-response-output {
    margin: 0 10px;
}
}
.footer-global {
    background: #323232 none repeat scroll 0 0;
    padding: 2.5rem 10px 1.5625rem;
    text-align: center;
}
.footer-global a {
    color: #fff;
    display: block;
    font-family: minion-pro,serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0 1.25rem 0.9375rem;
}
@media (min-width: 37.5em) {
.footer-global a {
    display: inline-block;
}
}
@media (min-width: 48em) {
.footer-global a {
    font-size: 1.125rem;
}
}
.wysiwyg-content {
    color: #232022;
}
.wysiwyg-content a {
    color: #fc344d;
}
.wysiwyg-content a:hover {
    color: #125899;
}
.wysiwyg-content h1, .wysiwyg-content h2, .wysiwyg-content h3, .wysiwyg-content h4, .wysiwyg-content h5, .wysiwyg-content h6 {
    font-family: minion-pro,serif;
    font-weight: 400;
}
.wysiwyg-content h1 {
    color: #232022;
    font-size: 3.875rem;
    line-height: 4.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
}
.wysiwyg-content h2 {
    font-size: 2.625rem;
    line-height: 3.875rem;
    margin-bottom: 3.125rem;
    text-align: center;
}
.wysiwyg-content h3, .wysiwyg-content h4 {
    font-family: proxima-nova,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    margin-bottom: 0.3125rem;
}
@media (min-width: 48em) {
.wysiwyg-content h3, .wysiwyg-content h4 {
    font-size: 1.375rem;
}
}
.wysiwyg-content h1 + h3 {
    font-family: proxima-nova,sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 3.125rem;
    text-align: center;
}
.wysiwyg-content p + h2 {
    margin-top: 5rem;
}
.wysiwyg-content p + h3, .wysiwyg-content p + h4 {
    margin-top: 3.125rem;
}
.wysiwyg-content blockquote, .wysiwyg-content p {
    color: #333332;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 2.5rem;
}
@media (min-width: 60em) {
.wysiwyg-content blockquote, .wysiwyg-content p {
    font-size: 1.375rem;
    line-height: 2rem;
}
}
.wysiwyg-content blockquote {
    color: #949494;
    margin-bottom: 2.1875rem;
    padding-left: 1.25rem;
    width: 100%;
}
@media (min-width: 37.5em) {
.wysiwyg-content blockquote {
    padding-left: 2.5rem;
}
}
@media (min-width: 60em) {
.wysiwyg-content blockquote {
    padding-left: 3.75rem;
}
}
.wysiwyg-content blockquote:last-child {
    margin-bottom: 0;
}
.wysiwyg-content blockquote p {
    color: #949494;
    padding-left: 0.9375rem;
    position: relative;
}
@media (min-width: 60em) {
.wysiwyg-content blockquote p {
    padding-left: 0.9375rem;
}
}
.wysiwyg-content blockquote p::before {
    content: "“";
    left: 0;
    position: absolute;
    top: 0;
}
.wysiwyg-content blockquote p::after {
    content: "”";
    padding-left: 0.1875rem;
}
.wysiwyg-content p + blockquote {
    margin-top: 2.5rem;
}
@media (min-width: 76.25em) {
.wysiwyg-content .expand-out {
    margin-left: -75px !important;
    margin-right: -75px !important;
}
}
.owl-carousel .owl-wrapper::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    transition: height 500ms ease-in-out 0s;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-controls .owl-buttons div, .owl-controls .owl-page {
    cursor: pointer;
}
.owl-controls {
    -moz-user-select: none;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 15;
}
.owl-controls .owl-next, .owl-controls .owl-prev {
    display: block;
    height: 34px;
    overflow: hidden;
    width: 20px;
}
.owl-controls .owl-next::before, .owl-controls .owl-prev::before {
    color: #525252;
    font-size: 35px;
}
.owl-controls .owl-next:hover::before, .owl-controls .owl-prev:hover::before {
    color: #fc344d;
}
.owl-controls .owl-prev {
    left: -40px;
    position: absolute;
}
@media (min-width: 76.25em) {
.owl-controls .owl-prev {
    left: -100px;
}
}
@media (min-width: 90em) {
.owl-controls .owl-prev {
    left: -160px;
}
}
.owl-controls .owl-next {
    position: absolute;
    right: -40px;
}
@media (min-width: 76.25em) {
.owl-controls .owl-next {
    right: -100px;
}
}
@media (min-width: 90em) {
.owl-controls .owl-next {
    right: -160px;
}
}
.owl-controls .owl-prev::before {
    content: "";
    font-family: icon-font !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}
.owl-controls .owl-next::before {
    content: "";
    font-family: icon-font !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}
.grabbing {
    cursor: url("grabbing.png") 8 8, move;
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}
.owl-origin {
    perspective: 1200px;
}
.owl-fade-out {
    animation: 0.7s ease 0s normal both 1 running fadeOut;
    z-index: 10;
}
.owl-fade-in {
    animation: 0.7s ease 0s normal both 1 running fadeIn;
}
.owl-backSlide-out {
    animation: 1s ease 0s normal both 1 running backSlideOut;
}
.owl-backSlide-in {
    animation: 1s ease 0s normal both 1 running backSlideIn;
}
.owl-goDown-out {
    animation: 0.7s ease 0s normal both 1 running scaleToFade;
}
.owl-goDown-in {
    animation: 0.6s ease 0s normal both 1 running goDown;
}
.owl-fadeUp-in {
    animation: 0.5s ease 0s normal both 1 running scaleUpFrom;
}
.owl-fadeUp-out {
    animation: 0.5s ease 0s normal both 1 running scaleUpTo;
}
@keyframes empty {
0% {
    opacity: 1;
}
}
@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
@keyframes backSlideOut {
25% {
    opacity: 0.5;
    transform: translateZ(-500px);
}
100%, 75% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(-200%);
}
}
@keyframes backSlideIn {
0%, 25% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(200%);
}
75% {
    opacity: 0.5;
    transform: translateZ(-500px);
}
100% {
    opacity: 1;
    transform: translateZ(0px) translateX(0px);
}
}
@keyframes scaleToFade {
100% {
    opacity: 0;
    transform: scale(0.8);
}
}
@keyframes goDown {
0% {
    transform: translateY(-100%);
}
}
@keyframes scaleUpFrom {
0% {
    opacity: 0;
    transform: scale(1.5);
}
}
@keyframes scaleUpTo {
100% {
    opacity: 0;
    transform: scale(1.5);
}
}
.selecter-element {
    opacity: 0;
    position: absolute;
    visibility: hidden;
}
.selecter {
    display: block;
    margin-right: 6px;
    position: relative;
    width: 173px;
    z-index: 1;
}
.selecter:focus {
    outline: 0 none;
}
.selecter.open .selecter-selected::after {
    content: "";
    font-family: icon-font !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}
.selecter .selecter-selected {
    -moz-osx-font-smoothing: grayscale;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
    color: #949494;
    cursor: pointer;
    display: block;
    font-family: proxima-nova,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3em;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 15px 35px 13px 15px;
    position: relative;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    white-space: nowrap;
    z-index: 49;
}
.selecter .selecter-selected::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    display: block;
    font-family: icon-font !important;
    font-size: 1.125em !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    height: 50px !important;
    line-height: 52px !important;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    top: 0;
    width: 35px !important;
}
.selecter .selecter-options {
    background-color: #fefefe;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    box-shadow: none;
    display: none;
    font-family: proxima-nova,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    left: 0;
    margin: 0;
    max-height: 260px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 50;
}
.selecter .selecter-group {
    background: #f9f9f9 none repeat scroll 0 0;
    border-bottom: 1px solid #e3e3e3;
    color: #999;
    display: block;
    font-size: 11px;
    padding: 5px 10px 4px;
    text-transform: uppercase;
}
.selecter .selecter-item {
    -moz-osx-font-smoothing: grayscale;
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.39);
    color: #232022;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    padding: 8px 14px;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    width: 100%;
}
.selecter .selecter-item.selected {
    background: #232022 none repeat scroll 0 0;
    color: #fff;
}
.selecter .selecter-item.disabled {
    color: #999;
    cursor: default;
}
.selecter .selecter-item:last-child {
    border-bottom: 0 none;
}
@media screen and (min-width: 980px) {
.selecter .selecter-item.selected:hover, .selecter .selecter-item:hover {
    background: #e9e9e9 none repeat scroll 0 0;
    color: #232022;
}
.selecter .selecter-item.disabled:hover {
    background-color: #fff;
}
.selecter:hover .selecter-selected {
    background-color: #fff;
    color: #fc344d;
}
.selecter.disabled .selecter-item:hover {
    background: #fff none repeat scroll 0 0;
}
}
.selecter.open {
    z-index: 3;
}
.selecter.open .selecter-selected {
    z-index: 51;
}
.selecter.focus .selecter-selected, .selecter.open .selecter-selected {
    background-color: #fff;
    border-color: #fc344d;
    outline: 0 none;
}
.selecter.cover .selecter-options {
    border-radius: 3px;
    border-width: 1px;
    top: 0;
}
.selecter.cover .selecter-options .selecter-item.first {
    border-radius: 3px 3px 0 0;
}
.selecter.cover.open .selecter-selected {
    z-index: 49;
}
.selecter.bottom .selecter-options {
    border-width: 1px 1px 0;
    bottom: 100%;
    top: auto;
}
.selecter.bottom .selecter-item:last-child {
    border: medium none;
}
.selecter.bottom.open .selecter-selected {
    border-radius: 0 0 3px 3px;
}
.selecter.bottom.open .selecter-options {
    border-radius: 3px 3px 0 0;
}
.selecter.bottom.cover .selecter-options {
    bottom: 0;
    top: auto;
}
.selecter.bottom.cover.open .selecter-options, .selecter.bottom.cover.open .selecter-selected {
    border-radius: 3px;
}
.selecter.multiple .selecter-options {
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    display: block;
    position: static;
    width: 100%;
}
.selecter.disabled .selecter-selected {
    background: #fc344d none repeat scroll 0 0;
    border-color: #eee;
    color: #ccc;
    cursor: default;
}
.selecter.disabled .selecter-options {
    background: #fff none repeat scroll 0 0;
    border-color: #eee;
}
.selecter.disabled .selecter-group, .selecter.disabled .selecter-item {
    border-color: #eee;
    color: #ccc;
    cursor: default;
}
.selecter.disabled .selecter-item.selected {
    background: #fafafa none repeat scroll 0 0;
}
.selecter .selecter-options.scroller {
    overflow: hidden;
}
.selecter .selecter-options.scroller .scroller-content {
    max-height: 260px;
    padding: 0;
}
.noUi-target, .noUi-target * {
    -moz-user-select: none;
    box-sizing: border-box;
}
.noUi-target {
    position: relative;
}
.noUi-base {
    height: 100%;
    position: relative;
    width: 100%;
}
.noUi-origin {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
.noUi-handle {
    position: relative;
    z-index: 1;
}
.noUi-stacking .noUi-handle {
    z-index: 10;
}
.noUi-state-tap .noUi-origin {
    transition: left 0.3s ease 0s, top 0.3s ease 0s;
}
.noUi-state-drag * {
    cursor: inherit !important;
}
.noUi-base {
    transform: translate3d(0px, 0px, 0px);
}
.noUi-horizontal {
    height: 26px;
}
.noUi-horizontal .noUi-handle {
    height: 20px;
    left: -10px;
    top: 0;
    width: 20px;
}
.noUi-vertical {
    width: 16px;
}
.noUi-vertical .noUi-handle {
    height: 16px;
    left: -6px;
    top: -17px;
    width: 16px;
}
.noUi-background {
    background: #e7e7e7 none repeat scroll 0 0;
}
.noUi-connect {
    background: #125899 none repeat scroll 0 0;
    transition: background 450ms ease 0s;
}
.noUi-origin {
    height: 20px;
    top: 2px;
}
.noUi-target {
    background: #e7e7e7 none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    border-radius: 15px;
    padding: 0 12px;
}
.noUi-target.noUi-connect {
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.45) inset, 0 3px 6px -5px #bbb;
}
.noUi-dragable {
    cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
    cursor: n-resize;
}
.noUi-handle {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #125899;
    border-radius: 50%;
    cursor: default;
}
[disabled] .noUi-connect, .noUi-connect[disabled] {
    background: #b8b8b8 none repeat scroll 0 0;
}
[disabled] .noUi-handle {
    cursor: not-allowed;
}
main {
    height: 100%;
    position: relative;
    top: 0;
    transition: all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1) 0s, top 0.9s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
    width: 100%;
}
.is-shifted main {
    top: -100%;
}
@media (min-width: 60em) {
.is-nav-active main {
    filter: grayscale(100%);
}
}
.sec--intro + .sec--content {
    margin-top: 20px;
}
.sec--content.extra-pad {
    padding-top: 60px;
}
@media (min-width: 60em) {
.sec--content.extra-pad {
    padding-top: 6.25rem;
}
}
.sec--work {
    padding: 4.0625rem 0 0;
}
.sec--work::after, .sec--work::before {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
.sec--work::after {
    clear: both;
}
.work-list {
    border-bottom: 1px solid #d3d3d3;
}
.work-list li {
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    float: left;
    height: 10.625em;
    padding: 0.625em;
    text-align: center;
    width: 50%;
}
@media (max-width: 47.9375em) {
.work-list li:nth-of-type(2n+2) {
    border-right: 0 none;
}
}
@media (min-width: 48em) {
.work-list li {
    height: 15.625em;
    width: 25%;
}
.work-list li:nth-of-type(4n+4) {
    border-right: 0 none;
}
}
.work-list li figure {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.work-list li img {
    max-width: 100px;
}
@media (min-width: 37.5em) {
.work-list li img {
    max-width: 140px;
}
}
@media (min-width: 76.25em) {
.work-list li img {
    max-width: none;
}
}
.sec--intro .hero-single {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fb5b8c 0px, #f54c60 100%) repeat scroll 0 0;
}
.sec--intro .photo-overlay {
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.sec--intro .owl-carousel, .sec--intro .owl-wrapper, .sec--intro .owl-wrapper-outer {
    height: inherit;
    position: inherit;
}
.sec--intro .owl-item {
    height: 100%;
    width: 100%;
}
.sec--intro .owl-item .slide-single {
    opacity: 1;
}
.layout-single {
    margin: 0 auto;
    max-width: 61.25em;
    padding: 4.0625rem 20px;
    width: 100%;
}
.layout-single p:last-of-type {
    margin-bottom: 0;
}
.layout-single .post-img {
    margin: 4.0625rem 0;
}
.layout-double {
    margin: 0 auto;
    max-width: 81.25em;
    padding: 4.0625rem 20px;
    width: 100%;
}
@media (min-width: 60em) {
.layout-double .col-left, .layout-double .col-right {
    float: left;
    width: 50%;
}
}
.layout-double .col-left {
    margin-bottom: 3.125rem;
}
@media (min-width: 60em) {
.layout-double .col-left {
    margin-bottom: 0;
    padding-right: 25px;
}
}
@media (min-width: 60em) {
.layout-double .col-right {
    padding-left: 25px;
}
}
.layout-double figure {
    width: 100%;
}
.layout-double figure img {
    display: block;
    margin: 0 auto;
}
@media (min-width: 60em) {
.layout-double figure img {
    width: 100%;
}
}
.layout-full {
    padding: 0;
    width: 100%;
}
.layout-full figure {
    width: 100%;
}
.layout-full figure img {
    display: block;
    width: 100%;
}
.layout-testimonials {
    margin: 0 auto;
    max-width: 65.625em;
    padding: 4.0625rem 50px 3.125rem;
}
@media (min-width: 37.5em) {
.layout-testimonials .single-testimonial .testimonial, .layout-testimonials .single-testimonial figure {
    float: left;
}
}
.layout-testimonials .single-testimonial figure {
    display: none;
}
@media (min-width: 37.5em) {
.layout-testimonials .single-testimonial figure {
    border-radius: 100%;
    display: block;
    height: 180px;
    overflow: hidden;
    width: 180px;
}
}
@media (min-width: 48em) {
.layout-testimonials .single-testimonial figure {
    height: 200px;
    width: 200px;
}
}
.layout-testimonials .single-testimonial figure img {
    display: block;
}
.layout-testimonials .single-testimonial .testimonial {
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}
@media (min-width: 37.5em) {
.layout-testimonials .single-testimonial .testimonial {
    padding-bottom: 0;
    padding-top: 3rem;
    width: calc(100% - 180px);
}
}
@media (min-width: 48em) {
.layout-testimonials .single-testimonial .testimonial {
    width: calc(100% - 200px);
}
}
.layout-testimonials .single-testimonial blockquote {
    margin-bottom: 0;
}
@media (min-width: 48em) {
.layout-testimonials .single-testimonial blockquote {
    padding: 0 1.875rem;
}
}
.layout-project-slider {
    margin: 0 auto;
    max-width: 75em;
    padding: 4.0625rem 50px 0;
}
@media (min-width: 60em) {
.layout-project-slider {
    padding: 4.0625rem 80px 0;
}
}
@media (min-width: 60em) {
.layout-project-slider {
    padding: 4.0625rem 50px 0;
}
}
.layout-project-slider .owl-controls .owl-prev {
    left: -40px;
    position: absolute;
}
@media (min-width: 76.25em) {
.layout-project-slider .owl-controls .owl-prev {
    left: -50px;
}
}
@media (min-width: 90em) {
.layout-project-slider .owl-controls .owl-prev {
    left: -160px;
}
}
.layout-project-slider .owl-controls .owl-next {
    position: absolute;
    right: -40px;
}
@media (min-width: 76.25em) {
.layout-project-slider .owl-controls .owl-next {
    right: -50px;
}
}
@media (min-width: 90em) {
.layout-project-slider .owl-controls .owl-next {
    right: -160px;
}
}
.layout-project-slider figure {
    width: 100%;
}
.layout-project-slider figure img {
    display: block;
    width: 100%;
}
.layout-project-results {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fb5b8c 0px, #f54c60 100%) repeat scroll 0 0;
    position: relative;
}
.layout-project-results .photo-overlay {
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.layout-project-results .project-results {
    margin: 0 auto;
    max-width: 61.25em;
    padding: 5.625em 10px;
    position: relative;
    z-index: 2;
}
@media (min-width: 37.5em) {
.layout-project-results .project-results {
    padding: 13.75rem 10px;
}
}
.layout-project-results .project-results li {
    float: left;
    margin-bottom: 2.5rem;
    padding: 0 10px;
    text-align: center;
    width: 100%;
}
.layout-project-results .project-results li:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 37.5em) {
.layout-project-results .project-results li {
    margin-bottom: 0;
    width: 33%;
}
}
.layout-project-results .project-results li p {
    color: #fff;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 0;
}
@media (min-width: 37.5em) {
.layout-project-results .project-results li p {
    font-size: 15px;
    line-height: 20px;
}
}
@media (min-width: 48em) {
.layout-project-results .project-results li p {
    font-size: 1.375rem;
    line-height: 1.875rem;
}
}
.layout-project-results .project-results li p.label {
    font-family: minion-pro,serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 5px;
}
@media (min-width: 37.5em) {
.layout-project-results .project-results li p.label {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 1.25rem;
}
}
@media (min-width: 48em) {
.layout-project-results .project-results li p.label {
    font-size: 7.5rem;
    line-height: 5.625rem;
    margin-bottom: 2.5rem;
}
}
@media (min-width: 37.5em) {
.layout-project-results .project-results li p:nth-child(2) {
    margin: 0 auto;
    max-width: 180px;
}
}
body.home {
    overflow: hidden;
}
body.home.is-shifted {
    overflow: auto;
}
.sec--intro {
    height: 100%;
    position: relative;
}
.sec--intro .hero-single, .sec--intro .slide-single {
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.sec--intro .slide-single {
    opacity: 0;
    transition: opacity 0.9s cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
}
.sec--intro .slide-single.is-active {
    opacity: 1;
    z-index: 12;
}
.sec--intro #slide-0.slide-single {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fb5b8c 0px, #f54c60 100%) repeat scroll 0 0;
    z-index: 11;
}
.lt-ie9 .sec--intro #slide-0.slide-single {
    filter: none;
}
.sec--intro .hero-meta, .sec--intro .slide-meta {
    bottom: 20%;
    left: 0;
    margin: 0 auto;
    max-width: 85%;
    padding: 0 0.625em;
    position: absolute;
    right: 0;
    text-align: center;
    transform: translateY(-20%);
    width: 100%;
    z-index: 3;
}
@media (min-width: 90em) {
.sec--intro .hero-meta, .sec--intro .slide-meta {
    max-width: 81.25em;
}
}
.sec--intro .hero-meta h2, .sec--intro .slide-meta h2 {
    color: #fff;
    font-family: minion-pro,serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.625rem;
    margin-bottom: 2.9375rem;
}
@media (min-width: 37.5em) {
.sec--intro .hero-meta h2, .sec--intro .slide-meta h2 {
    font-size: 3.25rem;
    line-height: 4.5rem;
}
}
@media (min-width: 60em) {
.sec--intro .hero-meta h2, .sec--intro .slide-meta h2 {
    font-size: 3.875rem;
    line-height: 5.125rem;
}
}
.sec--intro .hero-meta .action, .sec--intro .slide-meta .action {
    color: #fff;
    font-family: proxima-nova,sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    position: relative;
}
.sec--intro .hero-meta .action::after, .sec--intro .slide-meta .action::after {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    bottom: -0.5625rem;
    content: "";
    height: 0.375rem;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}
.sec--intro .slide-controls {
    bottom: 1.875rem;
    left: 0;
    margin: 0 auto;
    max-width: 56.25rem;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 10;
}
.sec--intro .slide-controls .page-item {
    background: #fc344d none repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 2px;
    margin: 0 5px;
    width: 6.875rem;
}
.sec--intro .slide-controls .page-item.active, .sec--intro .slide-controls .page-item:hover {
    background: #232022 none repeat scroll 0 0;
}
.layout-project-next, .sec--grid {
}
.layout-project-next::after, .layout-project-next::before, .sec--grid::after, .sec--grid::before {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
.layout-project-next::after, .sec--grid::after {
    clear: both;
}
.home .layout-project-next, .home .sec--grid {
    padding-top: 50px;
}
@media (min-width: 37.5em) {
.home .layout-project-next, .home .sec--grid {
    padding-top: 95px;
}
}
.page .layout-project-next, .page .sec--grid {
    border-bottom: 15px solid #d3d3d3;
}
.single .layout-project-next, .single .sec--grid {
    margin: 0 auto;
    max-width: 88.75em;
    padding: 5.625rem 15px 6.25rem;
    width: 100%;
}
.layout-project-next article, .sec--grid article {
    float: left;
    overflow: hidden;
    position: relative;
    width: 50%;
}
@media (min-width: 48em) {
.layout-project-next article, .sec--grid article {
    width: 33.333%;
}
}
@media (min-width: 76.25em) {
.layout-project-next article, .sec--grid article {
    height: 21.875em;
}
}
.home .layout-project-next article, .home .sec--grid article {
    height: 11.25em;
    width: 100%;
}
@media (min-width: 30em) {
.home .layout-project-next article, .home .sec--grid article {
    height: 11.25em;
    width: 50%;
}
}
@media (min-width: 48em) {
.home .layout-project-next article, .home .sec--grid article {
    height: 13.75em;
}
}
@media (min-width: 60em) {
.home .layout-project-next article, .home .sec--grid article {
    height: 15.625em;
    width: 33.3333%;
}
}
@media (min-width: 90em) {
.home .layout-project-next article, .home .sec--grid article {
    width: 25%;
}
}
.single .layout-project-next article, .single .sec--grid article {
    margin: 0 5px;
    width: calc(50% - 10px);
}
@media (min-width: 48em) {
.single .layout-project-next article, .single .sec--grid article {
    width: calc(33.3333% - 10px);
}
}
@media (max-width: 47.9375em) {
.single .layout-project-next article:nth-child(3), .single .sec--grid article:nth-child(3) {
    display: none;
}
}
.layout-project-next figure, .sec--grid figure {
    height: 100%;
    position: relative;
}
.layout-project-next figure .photo-overlay, .layout-project-next figure figcaption, .layout-project-next figure img, .sec--grid figure .photo-overlay, .sec--grid figure figcaption, .sec--grid figure img {
    transition: all 0.3s cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
}
.layout-project-next figure img, .sec--grid figure img {
    display: block;
    height: auto;
    opacity: 1;
    position: relative;
    transform: scale(1);
    width: 100%;
    z-index: 0;
}
.home .layout-project-next figure img, .home .sec--grid figure img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
.layout-project-next figure .photo-overlay, .sec--grid figure .photo-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.layout-project-next figure:hover figcaption, .sec--grid figure:hover figcaption {
    opacity: 1;
    transform: scale(1);
}
.layout-project-next figure:hover .photo-overlay, .layout-project-next figure:hover img, .sec--grid figure:hover .photo-overlay, .sec--grid figure:hover img {
    opacity: 0.8;
    transform: scale(1.05);
}
.layout-project-next figcaption, .sec--grid figcaption {
    background: rgba(252, 52, 77, 0.9) none repeat scroll 0 0;
    color: #fff;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(1.2);
    width: 100%;
    z-index: 2;
}
.home .layout-project-next figcaption, .home .sec--grid figcaption {
    position: relative;
}
.layout-project-next figcaption span, .sec--grid figcaption span {
    display: block;
}
.layout-project-next .pr figcaption, .sec--grid .pr figcaption {
    text-align: center;
}
.layout-project-next .pr figcaption span, .sec--grid .pr figcaption span {
    margin-bottom: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.layout-project-next .text a, .layout-project-next figcaption, .sec--grid .text a, .sec--grid figcaption {
    padding: 30px 20px;
}
@media (min-width: 48em) {
.layout-project-next .text a, .layout-project-next figcaption, .sec--grid .text a, .sec--grid figcaption {
    padding: 40px 35px;
}
}
.layout-project-next .text a .title, .layout-project-next .text a h4, .layout-project-next figcaption .title, .layout-project-next figcaption h4, .sec--grid .text a .title, .sec--grid .text a h4, .sec--grid figcaption .title, .sec--grid figcaption h4 {
    font-family: minion-pro,serif;
    font-size: 2.625rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 1.5625rem;
}
.layout-project-next .text a .learn-more, .layout-project-next .text a p, .layout-project-next figcaption .learn-more, .layout-project-next figcaption p, .sec--grid .text a .learn-more, .sec--grid .text a p, .sec--grid figcaption .learn-more, .sec--grid figcaption p {
    font-family: proxima-nova,sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
}
.layout-project-next .text a, .sec--grid .text a {
    display: block;
    height: 100%;
    transition: background 0.3s cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 100%;
}
.layout-project-next .text a h4, .sec--grid .text a h4 {
    color: #232022;
}
.layout-project-next .text a p, .sec--grid .text a p {
    margin-bottom: 0;
}
.layout-project-next .text a .cat, .sec--grid .text a .cat {
    color: #fc344d;
}
.layout-project-next .text a .sub-cat, .sec--grid .text a .sub-cat {
    color: #232022;
}
.layout-project-next .text a .sub-cat::before, .sec--grid .text a .sub-cat::before {
    content: " | ";
}
.layout-project-next .text a:hover .cat, .layout-project-next .text a:hover .sub-cat, .layout-project-next .text a:hover h4, .sec--grid .text a:hover .cat, .sec--grid .text a:hover .sub-cat, .sec--grid .text a:hover h4 {
    color: #fc344d;
}
.home .sec--work {
    border-top: 15px solid #d3d3d3;
}
.agency-stats {
    margin: 0 auto;
    max-width: 111.25em;
    padding: 0 10px;
}
@media (min-width: 60em) {
.agency-stats {
    margin-bottom: 20px;
}
}
.agency-stats li {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fb5b8c 0px, #f54c60 100%) repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    height: 165px;
    margin: 0 10px 20px;
    min-height: 165px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 20px);
}
.agency-stats li:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 37.5em) {
.agency-stats li {
    height: 290px;
    min-height: 290px;
    width: calc(50% - 20px);
}
}
@media (min-width: 60em) {
.agency-stats li {
    margin-bottom: 0;
    width: calc(25% - 20px);
}
}
.agency-stats li:hover .media {
    opacity: 0.15;
}
.agency-stats .meta {
    padding: 0 1.25rem;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}
.agency-stats .meta p {
    color: #fff;
    font-family: proxima-nova,sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 0;
    text-transform: uppercase;
}
.agency-stats .meta p.label {
    font-family: minion-pro,serif;
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 5.625rem;
    margin-bottom: 2.5rem;
}
.agency-stats .media {
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    transition: opacity 200ms ease 0s;
    width: 100%;
    z-index: 1;
}
.agency-stats .stat-hours .media {
    background-image: url("assets/images/agency-stats/stat-hours.jpg");
}
.agency-stats .stat-work .media {
    background-image: url("assets/images/agency-stats/stat-work.jpg");
}
.agency-stats .stat-coffee .media {
    background-image: url("assets/images/agency-stats/stat-coffee.jpg");
}
.agency-stats .stat-social .media {
    background-image: url("assets/images/agency-stats/stat-social.jpg");
}
.our-capabilities {
    margin: 0 auto;
    max-width: 111.25em;
    padding: 3.75rem 10px 4.375rem;
}
@media (min-width: 60em) {
.our-capabilities {
    margin-bottom: 20px;
}
}
.our-capabilities .our-capabilities-list {
    padding: 1.25rem 0;
}
.our-capabilities .our-capabilities-list > li {
    float: left;
    margin-bottom: 50px;
    width: 100%;
}
.our-capabilities .our-capabilities-list > li:last-of-type {
    margin-bottom: 0;
}
@media (max-width: 76.1875em) {
.our-capabilities .our-capabilities-list > li:nth-of-type(2n+3) {
    clear: both;
}
}
@media (min-width: 48em) {
.our-capabilities .our-capabilities-list > li {
    width: 50%;
}
}
@media (min-width: 76.25em) {
.our-capabilities .our-capabilities-list > li {
    margin-bottom: 0;
    width: 25%;
}
}
.our-capabilities .our-capabilities-list .icon {
    background-image: url("assets/images/sprite.png");
    background-repeat: no-repeat;
    background-size: 150px auto;
    display: block;
    height: 100px;
    margin: 0 auto 2.1875rem;
    width: 110px;
}
@media (max-width: 37.4375em) {
.our-capabilities .our-capabilities-list .icon {
    transform: scale(0.7);
    transform-origin: center bottom 0;
}
}
.our-capabilities .our-capabilities-list .cap-research i {
    background-position: 0 0;
}
.our-capabilities .our-capabilities-list .cap-strategy i {
    background-position: 0 -100px;
}
.our-capabilities .our-capabilities-list .cap-design i {
    background-position: 0 -200px;
}
.our-capabilities .our-capabilities-list .cap-tech i {
    background-position: 0 -300px;
}
.our-capabilities article {
    padding: 0 10px;
    text-align: center;
}
@media (min-width: 60em) {
.our-capabilities article {
    padding: 0 20px;
}
}
@media (min-width: 90em) {
.our-capabilities article {
    padding: 0 50px;
}
}
.our-capabilities article h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1.5625rem;
}
@media (min-width: 48em) {
.our-capabilities article h3 {
    font-size: 1.625rem;
}
}
.our-capabilities article ul li {
    color: #525252;
    font-family: proxima-nova,sans-serif;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 400;
}
@media (min-width: 48em) {
.our-capabilities article ul li {
    font-size: 1em;
}
}
